page-shopping-list {

}

.inventory-label {
  color: black;
}

.inventory-quantity-textbox {
  padding-left: 1%;
}

.inventory-quantity-textbox-wrapper {
  width: 16%;
  border: 1px solid;
  border-radius: 5px;
}